define(
    ['../module'],
    function (module) {{
        'use strict';

        return module.controller('{0}', [
            function init{0}() {{

                var ctrl = this;

            }}
        ]);
    }}
);