define(
    ['../module'],
    function (module) {{
        'use strict';

        return module.factory('{0}', [
            function init{0}() {{
                var factory = {{

                }};

                return factory;
            }}
        ]);
    }}
);