define([
    'angular',
    './module'
], function (angular, module) {
    'use strict';

    return module

        .config(['$stateProvider', '$urlRouterProvider',
            function (stateProvider, urlRouterProvider) {
                stateProvider
                    .state('', {

                    });
            }
        ]);
});