define(
    ['../module'],
    function (module) {{
        'use strict';

        return module.service('{0}', [
            function init{0}() {{
                var service = {{

                }};

                return service;
            }}
        ]);
    }}
);